$header-height: 265px;
$header-height-min-mobile: 412px;
$max-content-width: 1280px;


$color-primary: #512689;
$color-gray: #808185;
$color-gray-light: #F8F8F8;
$color-gray-dark: #404040;
$color-red: #FF6161;
$color-black: #151317;
$color-white: #FFFFFF;
$color-shadow: rgba(0, 0, 0, 0.3);

$font-family-base: 'Roboto', sans-serif;