@use 'src/shared/styles/utils' as *;

.likeButton {
    width: 30px;
    height: 28px;
    background-color: $color-gray-light;
    border: 0px;
    border-radius: 4px;

    svg {
        fill: transparent;
        stroke: $color-black;
        stroke-width: 1px;
    }

    &:hover {
        svg {
            stroke: $color-primary;
            stroke-width: 1px;
        }
    }
}

.isActive {
    svg {
        fill: $color-primary;
        stroke-width: 0px;
    }
}